
.App {
  text-align: left;
}

body{ padding:1em; font-family:arial; }

/* .flex{ display: flex; } */
.flex {
  background: #a55;
  padding: 9px;
  display: flex;
	justify-content: center;
}
.flex-itm {
    background: #5a5;
    font-size: 2rem;
    color: #eee;
    margin-left: 5px;
    margin-top: 1px;
    margin-bottom: 1px;
    padding: 1px;
    min-width: 25%;
    text-align: center;
}

.flex-itm2 {
  background: #5a5;
  font-size: 1.4rem;
  color: #000;
  padding: 2px;
  padding-left: 9px;
  padding-right: 9px;
  font-family: monospace;
  margin-top: 1px;
  margin-bottom: 1px;
}

.colAccount {
  /* background: lightgray; */
}

#row:checked ~ .flex {
    width: 325px;
}

#column:checked ~ .flex {
    flex-direction: column;
    height: 350px;
}

.btn {
    /* background-color: DodgerBlue; */
    /* border: none; */
    /* color: white; */
    padding: 2px 6px;
    font-size: 20px;
    cursor: pointer;
}

/* Darker background on mouse-over */
.btn:hover {
    background-color: red;
}

h1 {
  margin-block-start: 15px;
  text-align: center;
  color: brown;
}

table {
  margin-left: 30pt;
  margin-top: 10px;
  width: 80%;
  /* border: 1px 1px 1px 1px; */
  border-color: brown;
}

td {
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 4px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 500px;
}

thead {
  text-align: center ;
  background-color: black;
  color: aquamarine;
  font-size: 150%;
  font-weight: bold;
}

tfoot {
  text-align: center ;
  background-color: gray;
  color: aquamarine;
}

caption {
  font-weight: bolder;
  text-align: center ;
  background-color: black;
  color: aqua ;
  font-size: 120%;
  padding: 9px;
}
