.App {
  text-align: left;
}

h1 {
  margin-block-start: 50px;
  text-align: center;
  color: brown;
}

table {
  margin-left: 10%;
  margin-top: 10px;
  width: 80%;
  /* border: 1px 1px 1px 1px; */
  border-color: brown;
}

td {
  text-align: center ;
}

thead {
  text-align: center ;
  background-color: black;
  color: aquamarine;
  font-size: 150%;
}

tfoot {
  text-align: center ;
  background-color: gray;
  color: aquamarine;
}
