.App {
  text-align: left;
}

h1 {
  margin-block-start: 50px;
  text-align: center;
  color: brown;
}

table {
  margin-left: 10%;
  margin-top: 10px;
  width: 80%;
  /* border: 1px 1px 1px 1px; */
  border-color: brown;
}

td {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}

thead {
  text-align: center ;
  background-color: black;
  color: aquamarine;
  font-size: 150%;
  font-weight: bold;
}

tfoot {
  text-align: center ;
  background-color: gray;
  color: aquamarine;
}

caption {
  font-weight: bolder;
  text-align: center ;
  background-color: black;
  color: aqua ;
  font-size: 200%;
}
